@import "hamburger";
@import "reset";
@import "variables";

#root {
  display: grid;
  grid-template-rows: 45px 1fr 45px;

  nav {
    display: flex;
    padding: 6px;
    background: $gradient-01;
    box-shadow: $shadow-03;
  }
}
