$shadow-01: 1px 2px 0px 0px rgba(0, 0, 0, 0.2);
$shadow-02: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);
$shadow-03: 1px 2px 12px 0px rgba(0, 0, 0, 0.2);
$shadow-04: 1px 2px 16px 0px rgba(0, 0, 0, 0.2);
$grey-95: hsl(0, 0%, 95%);
$grey-90: hsl(0, 0%, 90%);
$grey-10: hsl(0, 0%, 10%);
$grey-25: hsl(0, 0%, 25%);
$white: hsl(0, 0%, 100%);
$disabled: hsl(0, 0%, 76%);
$accent-01: #91a1ef;
$accent-02: #ccb5e3;
$gradient-01: linear-gradient(to right, $accent-01, $accent-02);
$footer-height: 45px;
